<!DOCTYPE html>
<html>
<head>
  <title>Mock Google Login</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="login-container">
    <h1>Select a user to login</h1>
    <ul>
      <% users.forEach(user => { %>
        <li>
          <a href="/auth/callback?user_id=<%= user.id %>&client_id=<%= clientId %>&redirect_uri=<%= redirectUri %>&state=<%= state %>">
            <img src="<%= user.picture %>" width="50" height="50">
            <span><%= user.name %> (<%= user.email %>)</span>
          </a>
        </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>
